*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
  cursor: pointer;
  text-decoration: none;
}

body{
    background-color: #000;
}
.main_home{
    width: 100%;
    height: 10vh auto;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: rgb(32, 32, 32);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 3;
}
.main_nav{
    width: 95%;
    /*padding: 0 10px;*/
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.main_nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-right:    60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}

.main_nav ul li a{
    transition: all ease 0.2s;
    text-decoration: none;
    color: white;
    border: transparent 2px solid;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    height: 20px;
    color: white;
}


.main_nav ul li a:hover{
  border-bottom: 2px solid pink; 
  border-top: 2px solid pink;
  color: pink;
  background-position-x: left;
}

.main a{
  text-decoration: none;
  font-family: 'SHARUNG Personal use', sans-serif;
}

.banner11{
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.2)),url(/right\ now2.jpg);
    background-position: top;
    background-size: cover;
}

.nein{
    width: 100%;
    height: auto;
    background-color: white;
    overflow: hidden;
}

.nein2{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.nein2 img{
    margin: 0px 20px 0px;
}

.nein3{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.nein3 img{
    margin: 0px 20px 0px;
}

.nein4{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    overflow: hidden;
}

.nein4 img{
    margin: 0px 20px 0px;
}

.line{
    width: 3px;
    height: 300px;
    margin: 0px 20px 0px;
    border-right: 2px solid black;
}

.soo{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    padding: 60px 0px 60px;
}

.first{
    width: 300px;
}

.second{
    width: 300px;
}

.e{
    width: 300px;
}

.f{
    width: 121px;
}

.d{
    width: 211px;
}

.first2{
    width: 500px;
}

.second2{
    width: 290px;
}

.e2{
    width: 300px;
}

.f2{
    width: 121px;
}

.d2{
    width: 393px;
}

.line2{
    width: 3px;
    height: 285px;
    margin: 0px 20px 0px;
    border-right: 2px solid black;
}

.first3{
    width: 300px;
}

.second3{
    width: 300px;
}

.e3{
    width: 232px;
}

.f3{
    width: 121px;
}

.d3{
    width: 265px;
}

.line3{
    width: 3px;
    height: 270px;
    margin: 0px 20px 0px;
    border-right: 2px solid black;
}

.first4{
    width: 165px;
}

.second4{
    width: 500px;
}

.e4{
    width: 270px;
}

.f4{
    width: 121px;
}

.d4{
    width: 159px;
}

.line4{
    width: 3px;
    height: 285px;
    margin: 0px 20px 0px;
    border-right: 2px solid black;
}

.footer{
    width: 100%;
    height: auto;
    background-color: rgb(216, 216, 216);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .f_1 , .f_2{
    padding: 30px 100px 30px;
}

.footer a{
    color: rgb(119, 119, 119);
    margin: 0px 20px 0px;
    transition: all ease 0.2s;
    border-bottom: 2px solid rgb(216, 216, 216);
}

.footer a:hover{
    color: black;
    border-bottom: 2px solid rgb(88, 88, 88);
}

.bal{
    color: rgb(119, 119, 119);
}